#custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; /* Your image size */
    height: auto;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    
  }